/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------- ALL DOCUMENT ------------------------------------------------------------------------ */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.body {
    background: #eee;
}

hr {
    width: 100%;
    max-width: 1300px;
}

.container-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.section-proyect {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------- NAVBAR ------------------------------------------------------------------------------ */
.navbar-proyect {
    justify-content: center !important;
    background-color: var(--bs-gray-400) !important;
}

.container-navbar-elements {
    width: 100%;
    max-width: 1200px;
    display: flex;
}

.container-navbar-logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-brand-proyect {
    font-size: 35px !important;
}

.navbar-brand-proyect {
    margin-right: 0 !important;
}

.container-navbar {
    width: 100%;
    width: 1200px;
    display: flex;
}

.login-div {
    justify-content: end;
}

.img-perfil-container {
    width: 40px;
    height: 40px;
    margin-left: 7px;
}

.img-perfil {
    border-radius: 50%;
    background-color: white;
    border: 1.5px solid var(--bs-dark-border-subtle);
}

.login-proyect, .register-proyect {
    margin: 0 2.5px;
}

.ul-div {
    justify-content: center;
}

.ul-navbar {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item-proyect {
    padding: 0 10px;
}

.ul-navbar a {
    text-decoration: none;
    align-items: normal !important;
    --bs-icon-link-transform: translate3d(0, -.125rem, 0);
}

.container-filters-elements {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.container-filters-elements-active {
    width: 100%;
    max-width: 1200px;
}

.div-filter {
    display: flex;
    align-items: baseline;
}

.div-search-container {
    display: flex;
    flex-direction: column;
}

.label-filter-proyect {
    display: inline-flex !important;
    text-wrap: nowrap;
    gap: .375rem;
    margin-left: 10px;
    margin-right: 5px;
}

.field-validator-div {
    display: flex;
    flex-direction: column;
}

.form-check-proyect {
    display: flex !important;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------- DEFAULT ----------------------------------------------------------------------------- */
.jumbotron-proyect {
    width: 100%;
    padding: 30px;
    margin: 20px 0;
    background-color: var(--bs-gray-200) !important;
}

.container-title {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.jumbotron-products-proyect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 200px;
    background-color: var(--bs-blue)
}

.jumbotron-products-icon {
    margin: 10px 20px;
    font-size: 90px;
    color: white;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-tv {
    padding-top: 5px;
}

.icon-phone {
    margin-left: 0;
}

.arrow-container {
    align-items: normal !important;
}

.container-some-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;
}

.card-proyect {
    padding: 10px;
    margin: 20px;
    width: 20rem;
    height: 330px !important;
    box-shadow: .25rem .5rem 1rem rgba(0, 0, 0, .075);
    transition: transform .2s;
}

.card-proyect:hover {
    transform: scale(1.02);
    box-shadow: .30rem .6rem 1rem rgba(0, 0, 0, .075);
}

.img-card-proyect {
    width: 100px;
    height: 150px;
    object-fit: contain;
    align-self: center;
    border: 1px solid var(--bs-card-border-color);
    box-shadow: .25rem .5rem 1rem rgba(0, 0, 0, .075);
    padding: 10px;
}

.card-price-link-proyect {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.p-card-product-proyect {
    background-color: var(--bs-success);
    border-radius: 1rem;
    padding: 2px 6px;
    color: white !important;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------- PRODUCTOS --------------------------------------------------------------------------- */
#UpdatePanelProductos {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#UpdatePanelProductos hr {
    width: 1300px;
}

.products-container {
    margin: 1.5rem 0;
    width: 1100px;
    min-height: 700px;
}

.link-button-product {
    text-decoration: none;
}

.one-product-container {
    display: flex;
    width: 1100px;
    height: 160px;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color-translucent) !important;
    box-shadow: .25rem .5rem 1rem rgba(0, 0, 0, .075);
    transition: transform 0.2s;
}

.one-product-container:hover {
    transform: scale(1.01);
    box-shadow: .30rem .6rem 1rem rgba(0, 0, 0, .075);
}

.image-product-container {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
    background: white;
}

.border-image-product {
    border-right: 1px solid var(--bs-border-color-translucent);
    border-left: 0 var(--bs-border-style) var(--bs-border-color-translucent) !important;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.img-proyect {
    line-height: 50px;
    text-align: center;
    object-fit: contain;
    background: inherit;
}

.info-product-container {
    width: 100%;
    margin: 10px 15px;
}

.badge-proyect {
    height: 35px;
    color: white !important;
    border-radius: 1.5rem;
    background-color: var(--bs-link-hover-color);
    padding: 0 .6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-fav-proyect {
    --bs-btn-border-color: none !important;
}

.fav-icon-product {
    color: white;
    font-size: 20px;
    transition: .2s;
}

.fav-icon-product:hover {
    color: var(--bs-pink);
    font-size: 25px;
}

.nofav-icon-product {
    color: var(--bs-pink);
    font-size: 20px;
    transition: .2s;
}

.nofav-icon-product:hover {
    color: white;
    font-size: 25px;
}

.hr-product-proyect {
    margin: .5rem 0;
    color: var(--bs-body-color);
}

.h7-product-proyect {
    font-size: 1rem;
    color: darkslategray;
}

.h6-product-proyect {
    font-size: 1.2rem;
    color: darkslategray;
}

.p-product-proyect {
    font-weight: 500;
    font-size: 1.032rem;
    color: var(--bs-gray-600);
    margin-bottom: .5rem !important;
}

.span-checkbox-container {
    float: right;
    padding-left: 1.5rem;
}

.span-checkbox-container input {
    border-radius: .25em;
    float: left;
    margin-left: -1.5em;
    --bs-form-check-bg: var(--bs-body-bg);
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-form-check-bg);
    background-image: var(--bs-form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    print-color-adjust: exact;
}

.span-checkbox-container input:focus, .span-checkboxlist-container input:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.span-checkbox-container input:checked[type=checkbox], .span-checkboxlist-container input:checked[type=checkbox] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.span-checkbox-container input:checked, .span-checkboxlist-container input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.span-checkboxlist-container input {
    border-radius: .25em;
    --bs-form-check-bg: var(--bs-body-bg);
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    margin-top: .25em;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-form-check-bg);
    background-image: var(--bs-form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    print-color-adjust: exact;
}

.span-checkboxlist-container {
    overflow-x: auto;
    text-wrap: nowrap;
    max-width: 1100px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------- DETALLE PRODUCTO -------------------------------------------------------------------- */
.product-detail-div {
    border: 1px solid var(--bs-border-color-translucent);
    margin: 1.5rem 0;
}

.badge-detail-proyect {
    height: 35px;
    color: white !important;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    background-color: var(--bs-link-hover-color);
    padding: 0 .6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 1.2rem;
}

.img-info-container {
    display: flex;
    max-height: 380px;
}

.img-detail-container {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 1rem;
}

.info-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    background: var(--bs-gray-100);
    padding-bottom: 5px;
    border-bottom-right-radius: .375rem
}

.background-h4-details {
    background: var(--bs-gray-400);
    padding-left: 5px;
    margin-bottom: 0 !important;
}

.label-detail-proyect {
    margin: 0;
    padding-left: 7px;
    font-weight: 500;
    font-size: 1.2rem;
    background: var(--bs-gray-100);
    color: var(--bs-gray-700);
}

.container-title-others {
    display: flex;
    justify-content: start;
    margin-top: 1rem;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------- LISTADO DE PRODUCTOS ---------------------------------------------------------------- */
.has-icon a {
    font-family: bootstrap-icons !important;
    border: 1px solid #ffc107;
    border-radius: .375rem;
    text-decoration: none;
    padding: 5px;
    color: #fff;
    background-color: #ffc107;
    font-size: 1.2rem;
    transition: .2s;
}

.has-icon a:hover {
    background-color: #ffe30c;
    border-color: #ffe30c;
}

.pagination-proyect tr {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: var(--bs-link-color);
    --bs-pagination-bg: var(--bs-body-bg);
    --bs-pagination-border-width: var(--bs-border-width);
    --bs-pagination-border-color: var(--bs-border-color);
    --bs-pagination-border-radius: var(--bs-border-radius);
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: var(--bs-tertiary-bg);
    --bs-pagination-hover-border-color: var(--bs-border-color);
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: var(--bs-secondary-bg);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #0d6efd;
    --bs-pagination-active-border-color: #0d6efd;
    --bs-pagination-disabled-color: var(--bs-secondary-color);
    --bs-pagination-disabled-bg: var(--bs-secondary-bg);
    --bs-pagination-disabled-border-color: var(--bs-border-color);
    display: flex;
    padding-left: 0;
    list-style: none;
}

.pagination-proyect tr td {
    position: relative;
    display: block;
    font-size: var(--bs-pagination-font-size);
    color: var(--bs-pagination-color);
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.pagination-proyect tr td a, span {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: var(--bs-pagination-color);
    text-decoration: none;
    background-color: var(--bs-pagination-bg);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.pagination-proyect tr td span {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: var(--bs-pagination-active-bg);
    border-color: var(--bs-pagination-active-border-color);
}

.pagination-proyect tr td span, a {
    border-top-left-radius: var(--bs-pagination-border-radius);
    border-bottom-left-radius: var(--bs-pagination-border-radius);
    border-top-right-radius: var(--bs-pagination-border-radius);
    border-bottom-right-radius: var(--bs-pagination-border-radius);
}

.jumbotron-products-grid {
    min-height: 477px;
}

.jumbotron-no-products-grid {
    background-color: var(--bs-danger-bg-subtle) !important;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------- MIS FAVORITOS ------------------------------------------------------------------------------- */
.card-fav {
    height: auto !important;
}

.nofav-icon-product-list {
    color: var(--bs-pink);
    font-size: 20px;
    transition: .2s;
}

.nofav-icon-product-list:hover {
    color: white;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: gray;
    font-size: 25px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------- FORMULARIO PRODUCTO ------------------------------------------------------------------------- */
.current-data-container {
    padding: 1rem;
    margin: 1rem 0;
    background-color: var(--bs-gray-100);
}

.required-data {
    color: lightcoral;
}

.brand-category-container {
    display: flex;
}

.radio-buttons-container {
    display: flex;
    justify-content: center;
}

.span-checkbox-container input[type=radio] {
    border-radius: 50%;
}

.span-checkbox-container input:checked[type=radio] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

.imgs-form-container {
    display: flex;
    justify-content: center;
}

.img-form-container {
    display: flex;
    flex-direction: column;
    margin: 0 .5rem;
    padding: 1rem;
    width: 510px;
}

.img-container {
    display: flex;
    width: 480px;
    max-height: 420px;
    padding: 5px;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------- LOGIN ------------------------------------------------------------------------------- */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 700px;
}

.login-elements {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.title-login {
    margin: 0;
    color: var(--bs-gray-700);
}

.btn-login {
    font-size: 1.3rem !important;
}

.validator {
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: var(--bs-form-invalid-color);
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------- REGISTRO ---------------------------------------------------------------------------- */
.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 0;
}

.register-elements {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.fieldset-register {
    padding: 1rem;
    margin-bottom: 1rem;
}

.legend-form {
    float: unset !important;
    width: auto !important;
    padding: 0 !important;
    margin-bottom: 0 !important;
    font-size: calc(1.275rem + .3vw);
    line-height: inherit;
}

.legend-title {
    padding: 2px 10px;
    border: 1px solid var(--bs-dark-bg-subtle);
    border-radius: 1.4rem;
    font-size: large;
    font-weight: 500;
    background-color: var(--bs-gray-200);
}

.container-validators {
    display: flex;
    flex-direction: column;
}

.btn-register {
    font-size: 1.3rem !important;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------- FOOTER ------------------------------------------------------------------------------ */
.footer-proyect {
    justify-content: center !important;
    background-color: var(--bs-gray-400) !important;
}

.shadow-proyect {
    box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.container-footer-elements {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}
