/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------- ALL DOCUMENT ------------------------------------------------------------------------ */
* {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

.body {
   background: #eee;
}

hr {
    width: 100%;
    max-width: 1300px;
}

.container-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-proyect {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------- NAVBAR ------------------------------------------------------------------------------ */
.navbar-proyect {
    justify-content: center !important;
    background-color: var(--bs-gray-400) !important;
    margin-bottom: 1rem;
}

.container-navbar-elements {
    width: 100%;
    max-width: 1200px;
    display: flex;
}

.container-navbar-logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-brand-proyect {
    font-size: 35px !important;
}

.navbar-brand-proyect {
    margin-right: 0 !important;
}

.container-navbar {
    width: 100%;
    width: 1200px;
    display: flex;
}

.login-div {
    justify-content: end;
}

.login-proyect, .register-proyect{
    margin: 0 2.5px;
}

.ul-div {
    justify-content: center;
}

.ul-navbar {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item-proyect {
    padding: 0 10px;
}

.ul-navbar a {
    text-decoration: none;
    align-items: normal !important;
    --bs-icon-link-transform: translate3d(0, -.125rem, 0);
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------- DEFAULT ----------------------------------------------------------------------------- */
.jumbotron-proyect {
    width: 100%;
    padding: 30px;
    margin: 20px 0;
    background-color: var(--bs-gray-200) !important;
}

.container-title {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.jumbotron-products-proyect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 200px;
    background-color: var(--bs-blue)
}

.jumbotron-products-icon {
    margin: 10px 20px;
    font-size: 90px;
    color: white;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-tv {
    padding-top: 5px;
}

.icon-phone {
    margin-left: 0;
}

.arrow-container {
    align-items: normal !important;
}

.container-some-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;
}

.card-proyect {
    padding: 10px;
    margin: 20px;
    width: 18rem;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------- PRODUCTOS --------------------------------------------------------------------------- */
.products-container {
    margin: 1.5rem 0;
}

.link-button-product {
    text-decoration: none;
    /* TODO: Solo para ver el cambio */
    /*color: inherit;*/
}

.one-product-container {
    display: flex;
    width: 1100px;
    height: 150px;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color-translucent) !important;
    box-shadow: .25rem .5rem 1rem rgba(0, 0, 0, .075);
    transition: transform 0.2s;
}

.one-product-container:hover {
    transform: scaleX(1.01);
    box-shadow: .30rem .6rem 1rem rgba(0, 0, 0, .075);
}

.image-product-container {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
    background: white;
}

.border-image-product {
    border-right: 1px solid var(--bs-border-color-translucent);
    border-left: 0 var(--bs-border-style) var(--bs-border-color-translucent) !important;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.img-proyect {
    line-height: 50px;
    text-align: center;
    object-fit: contain;
    background: inherit;
}

.info-product-container {
    width: 100%;
    margin: 15px 15px 10px 15px;
}

.badge-proyect {
    color: white !important;
    border-radius: 1.5rem;
    background-color: var(--bs-primary);
    padding: 0.2rem .6rem 0.4rem .6rem;
    text-align: center;
    vertical-align: baseline;
}

.hr-product-proyect {
    margin-top: 1rem;
    margin-bottom: .5rem;
    color: var(--bs-body-color);
}

.h6-product-proyect {
    font-size: 1.2rem;
    color: darkslategray;
}

.p-product-proyect {
    font-weight: 500;
    font-size: 1.032rem;
    color: var(--bs-gray-600);
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------- FOOTER ------------------------------------------------------------------------------ */
.footer-proyect {
    justify-content: center !important;
    background-color: var(--bs-gray-400) !important;
}

.shadow-proyect {
    box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.container-footer-elements {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}